body {
  background-color: #f5f8fa;
  color: #54657e;
  //font-family: "opensans-regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 50px;
}
html, body {
  -moz-user-select: text;
  min-height: 100vh;
  margin: 0;
}
.main {
  padding-top: 30px;
}